.clock {
   width: 350px;
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 8px solid #FFF;
   border-radius: 50%;
}

.clock::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #2196F3;
    z-index: 1000000;
    border-radius: 50%;
}

.hours,
.minuts,
.seconds {
    position: absolute;
}

.clock .hours .hr {
    width: 200px;
    height: 200px;
}

.clock .minuts .mn {
    width: 230px;
    height: 230px;
}

.clock .seconds .sec {
    width: 250px;
    height: 250px;
}

.clock .hours .hr,
.mn,
.sec {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}

.clock .hours .hr::before {
    content: '';
    position: relative;
    width: 8px;
    height: 100px;
    left: -.5px;
    background-color: #FFF;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.clock .minuts .mn::before {
    content: '';
    position: relative;
    width: 4px;
    height: 110px;
    background-color: #FFF;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.clock .seconds .sec::before {
    content: '';
    position: relative;
    width: 2px;
    height: 120px;
    background-color: #00BCD4;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}
