.date__time-wrapper{
    width: 70%;
    position: relative;
    height: 280px;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    background: #00BCD4;
    box-shadow: 5px 10px 5px 0 rgba(0, 0, 0, .5);
    padding: 1rem;
}

.date__time-wrapper-time{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}